<div class="card">
    <button class="card__button--X" (click)="sendBookTitle()">X</button>
    <img src="{{book.photo}}" alt="Portada del libro" class="card__img">
    <div class="card__body">
        <p class="card__book--type">{{book.type}}</p>
        <div class="line"></div>
        <h3 class="card__book--title">{{book.title}}</h3>
        <p class="card__book--author">{{book.author}}</p>
        <p class="card__book--ref">{{book.id_book | bookRef}}</p>
        <h4 class="card__book--price">{{book.price}}€</h4>
        <button class="card__button" [ngClass]="par ? 'odd__button' : ''">Comprar</button>
    </div>
</div>