main{
    background-image: url(../../../assets/img/fondo-home.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    #search_bar{
        margin-top: 20px;
        background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
        background-size: 24px;
        background-color: var(--color-blanco);
        width: 450px;
        border-color: var(--color-gris);
        padding: 10px 10px 10px 30px;
        color: var(--color-primario);
    }
    #search_bar:focus{
        border-color: var(--color-terciario);
        box-shadow: 0 0 8px var(--color-pastel);
        outline: 0 none;
    }
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
    .text__empty{
        color: var(--color-primario);
    }

/*----------Media-Queries---------*/
@media screen and (min-width: 280px) {
    #search_bar{
        width: 200px;
    }
}
@media screen and (min-width: 360px) {
    #search_bar{
        width: 300px;
    }
}
@media screen and (min-width: 768px) {
    #search_bar{
        width: 400px;
    }
}