main{
    background-image: url(../../../assets/img/fondo-home.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    .search_bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        #search_bar{
            margin-top: 20px;
            background-size: 24px;
            background-color: var(--color-blanco);
            width: 400px;
            border-color: var(--color-gris);
            padding: 10px 10px 10px 20px;
            color: var(--color-primario);
        }
        #search_bar:focus{
            border-color: var(--color-terciario);
            box-shadow: 0 0 8px var(--color-pastel);
            outline: 0 none;
        }
        .search__button{
            background-image: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png);
            margin-top: 20px;
            width: 30px;
            height: 34px;
            margin-left: -34px;
            border: none;
        }
        .search__button:hover{
            background-color: var(--color-pastel);
            border-radius: 100px;
        }
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
    .text__empty{
        color: var(--color-primario);
    }