footer{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    .footer__rrss{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 10px;
    }
        img{
            width: 30px;
            height: 30px;
        }
    .footer__firma{
        color: var(--color-gris);
    }


/*----------Media-Queries---------*/
@media screen and (max-width: 540px) {
        .footer__rrss{
            gap: 10px;
            margin-left: 10px;
        }
        .footer__firma{
            font-size: 12px;
            margin-right: 10px;
            text-align: center;
        }
}
@media screen and (max-width: 375px) {
    .footer__rrss{
        gap: 5px;
        margin-left: 10px;
    }
        img{
            width: 25px;
            height: 25px;
        }
    .footer__firma{
        font-size: 11px;
    }
}
@media screen and (max-width: 280px) {
    img{
        width: 20px;
        height: 20px;
    }
}