/* Limpiadores: resetean los valores predefinidos de la página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root {
    --color-primario: #002A4D;
    --color-secundario: #0077B6;
    --color-terciario: #00A9E0;
    --color-pastel: #90D1F9;
    --color-gris: #b0b9c3;
    --color-blanco: #FFFFFF;
}

@font-face {
    font-family: '--fuente-primaria';
    src: url(./assets/font/Chapaza.ttf);
}